
Refashion/obj/Refashion.csproj.nuget.dgspec.json
Refashion/obj/Debug/net472/Refashion.assets.cache
Refashion/obj/Debug/net472/Refashion.csprojAssemblyReference.cache
Refashion/obj/project.assets.json
*.cache
Refashion/obj/Refashion.csproj.nuget.g.props
